.product-description-tabs {
  width: 100%;
}
.tabsbutton {
  text-transform: capitalize !important;
  font-size:$font-size-lg !important;
  @media screen and (max-width: 600px) {
    max-width: 32px !important;
    width: 100% !important;
    font-size: $body3-font-size !important;
    padding: 0 !important;
  }
}

.tabs1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  border: 1px;
}
.desc-head {
  font-size: $h3-font-size !important;
}
.desc-para {
  font-size: $font-size-base ;
  color: #645e5e91;
}
.list-box {
  list-style-type: disc;
  .list-items {
    display: list-item;
    padding: 0px;
    color: $dark-gray;
  }
}

