.product-carousel-box {
    .carousel-heading {
      text-align: center;
      padding: 2rem;
      font-size: $h3-font-size;
      color: $gray;
    }
    .card {
      padding: 0 14px;

    }
   .carouseLinks{
    text-decoration: none;
   }
   .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{

    color: $gray !important;
   }
  
  }