

.Topbanner{

    .bannerImg{
        height: 300px;
        background-position: center;
        background-size: cover;
    background-repeat: no-repeat;
        background-image: url(http://localhost:3000/static/media/homeBg.66e1029e733d62869492.jpg);
    
    }
}