.blogPage {
  .banner {
    .bannerImg {
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../../assets/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    }
  }
  .blogImg1Container {
    .blogImg1 {
      height: 400px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../../assets/images/Banner-xx.jpg);
    }
  }

  .AvatarLine {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    ._flexes {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      &:hover {
        cursor: pointer;
      }
    }
    .toolTips {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .AvatarLine {
      .toolTips {
        display: inline-block;
      }
      .hideIcon {
        display: none;
      }
    }
    .Avatar {
      height: 90px;
      width: 90px;
    }
    .flexesIcon {
      font-size: 3rem;
    }
    .flexesTxt {
      display: none;
    }
  }
  .blogContents {
    .blogHeading {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
    }
    .blogHeadContents {
      font-size: $font-size-lg;
      color: $gray;
    }
    .imgTextFlex {
      .imgTextFlex_img {
        height: auto;
        width: 100%;
      }
    }
  }

  .quoteContainer {
    height: auto;
    background-color: $field-background;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: $box-shadow;
    .fa-quote-left {
      margin-top: -1.25rem;
      position: absolute;
      color: #cc9966;
      font-size: 6rem;
    }
    .quote {
      position: relative;

      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }
    .authorName {
      color: $gray;
    }
  }
  .randomContent {
    font-size: $font-size-lg;
    color: $gray;
  }

  .shareContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    .shareText {
      margin-right: 2rem;
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
    }
    .iconContainer {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 10px;
      .iconBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 3rem;
        height: 3rem;
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid $light-gray;
        &:hover {
          background-color: $primary;
          cursor: pointer;
        }
        .icons {
          font-size: 1.25rem;
        }
      }
    }
  }
  @media only screen and (max-width: 600px) {
    .shareContainer {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .commentsContainer {
    .commentsText {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
    }
    .commentFlex {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;

      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    .commentBox {
      width: 100%;
      background-color: $field-background;
      .commentBoxContent {
        padding: 2rem;

        .commenterName {
          font-size: $font-size-lg;
          font-weight: $font-weight-bold;
        }
        .commentDate {
          color: $gray;
        }
        .commenterComment {
          font-size: $font-size-lg;
          color: $gray;
        }
      }
    }
  }

  .replyContainer {
    .replyheading {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
    }
    .replyFormContainer {
      display: flex;
      flex-direction: column;
      gap: 20px;

    }

    .fieldBox {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
    }
    .outlined-basic {
      background-color: $field-background;
    }

    .messageBox {
      width: 100%;
    }
    .postCommentBtnBox {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .postCommentBtn {
        color: $dark-gray;
        font-size: $font-size-base;
        color: $dark-gray;
        font-weight: $font-weight-bold;
        width: 15rem;
        height: 3rem;
        border: 1px solid $primary;
      }
    }
    @media only screen and (max-width: 600px) {
    .fieldBox{
      flex-direction: column;
    }
    }
  }
  // sidebar section

  .categoriesContainer {
    background-color: $field-background;
    box-shadow: $box-shadow;
    padding: 1rem;
    height: auto;

    .categoriesText {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;

    }
    .fa-angle-double-right {
      color: $light-red;
    }
    .linkText {
      font-size: $font-size-lg;
      font-weight: $font-weight-bold;
    }
    .linkNumber {
      height: 100%;
      width: 1.25rem;
      text-align: center;
      background-color: $light-gray;
    }
    .categoriesLinksBox {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 0.5rem;
      .linkFlex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
      }
    }
    
  }

  .galleyContainer {
    background-color: $field-background;
    box-shadow: $box-shadow;
    padding: 1rem;
    height: auto;
    .galleyHeading {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
    }
    
  }
  .advertiseMentContainer {
    background-color: $field-background;
    box-shadow: $box-shadow;
    padding: 1rem;
    height: auto;
    .advertiseMentHeading {
      font-size: $h3-font-size;
      font-weight: $font-weight-bold;
      width: 100%;
    }
    .advertiseImage {
      height: fit-content;
      width: 100%;
    }
 
  }

  
}
