.loginPage {

  .banner {
    .bannerImg {
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../../assets/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    }
  }
  .contents{
    background-image: url(../../assets/images/bg_bggenerator_com.png);
    background-position: center;
    background-size: cover;
  }
  .form-container {

    .form-contents {
      padding: 1rem;
      margin-top: 50px;
      margin-bottom: 50px;
      .loginHead {
        font-size: $h3-font-size;
        color: $dark-gray;
      }
      .Inputfield {
        margin-bottom: 18px;
        &:focus-visible {
          outline: $primary;
        }
      }
    }
    .Submitbtn {
      font-size: $h3-font-size;

    }
    .signupbtn {
.signuplink{
    text-decoration: none;
    color: $primary;
    &:hover{
        color: #fff;
    }
}
    }
  }
}
