.wishlistPage {
  .banner {
    .bannerImg {
      height: 300px;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url(../../assets/images/ales-nesetril-Im7lZjxeLhg-unsplash.jpg);
    }
  }
  .wishContainer {
    .wishHeading {
      font-size: $h3-font-size;
      text-align: center;
    }
    .productImage{
        height: 100px;
    }
    .wishTable {
        .tableHeading {
          font-size: $font-size-lg;
        }
        .tableText {
          font-size: $font-size-base;
      }
  }
   .Removebtn,.clearbtn {
    max-width: 15.81rem;
    width: 100%;
    color: $primary;
    border-color: $primary;
    font-size: $body3-font-size;
    justify-content: flex-start;
  }
  .clearbtn{
   font-size: $font-size-lg;
   justify-content: center;
  }
  .addtocartbtn{
    max-width: 15.81rem;
    width: 100%;
    color: $primary;
    border-color: $primary;
    font-size: $font-size-lg;
    justify-content:center;
  }
}
}